language: python

python:
  - 2.6
  - 2.7
  - 3.3
  - 3.4

install:
  - pip install coverage coveralls --use-mirrors
  - pip install -e . --use-mirrors

script:
  - coverage run setup.py test
  - coverage report

after_success: coveralls
